@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  viewport-fit: cover;
}

.button {
  @apply px-4 py-2 font-bold rounded-xl active:scale-[98%] duration-150 transition-all;
}
.button-outline {
  @apply button shadow-[0_0_0_1px_black];
}
.button-solid {
  @apply button bg-black text-white;
}