@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  viewport-fit: cover;
}

.button {
  @apply px-4 py-2 font-bold border border-black rounded-xl active:scale-[98%] duration-150 transition-all;
}